body{
	padding: 0 0 10px 0;
	width: 316px;
	margin-top: 0;
	margin-bottom: 0;
}
*{
	font-size: 12px;
	font-family: arial,FreeSans,Helvetica,sans-serif;
}

a{
    color: #333;
}

a:hover{
    text-decoration: none;
}

.instagramimage{
	margin: 5px 0;
}

.imageframe{
	padding: 5px;
	
}

.imageframe-even{
	background-color: #675d52;
	color: #ffffff;
	border-radius: 10px;
}

.imageframe-even a{
    color: #ddd;
}

.imageframe-even table{
    color: #ffffff;
}

table.meta{
	width: 100%;
}

#loader{
	width: 220px;
	margin: 0 auto;
}

td.from-image{
	width: 20px;
}

td.from-time{
	width: 84px;
	font-size: 0.8em;
	text-align: right;
}

.likes,
.comments{
	margin-bottom: 5px;
}

.comments{
    list-style-image: url(/img/spechbubble_10.png);
    padding-left: 18px;
}

.comments li{
    margin-bottom: 3px;
}

.likes{
    list-style-image: url(/img/heart_10.png);
    padding-left: 18px;
}

.favcoment{
	margin: 10px 0;
	position: relative;
}

.likelink,
.write_comment,
.sm{
	text-decoration: none;
	background-color: #ccc;
	padding: 2px 5px;
	margin-right: 5px;
	font-size: 1.5em;
	color: #000000 !important;
	border-radius: 5px;
}

a.like:before {
    content:url('/img/heart.png')" ";
    position: relative;
    top: 2px;
}
a.unlike:before {
    content:url('/img/heart_empty.png')" ";
    position: relative;
    top: 2px;
}

#welcome td{
	text-align: center;
	background-color: #255d80;
	color: #ffffff;
    border-radius: 5px;
	border: 2px solid #355D80
}

#welcome td span{
	display: block;
	background-color: #8cb0e3;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#meimg{
	float: left;
	width: 70px;
	height: 70px;
	margin-right: 5px;
}

#footer{
    margin-top: 10px;
    font-size: 0.8em;
}

#headercontrol{
    background-color: #878787;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0 10px 5px;
    margin-bottom: 10px;
}

#headercontrol a{
    display: inline-block;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    margin: 0 5px;
}

#stream{
    text-align: center;
}

.username{
    text-decoration: underline;
}

.username:hover{
    text-decoration: none;
    cursor: pointer;
}

#headline{
    clear: both;
    font-weight: bold;
    font-size: 1.8em;
}

#searchbox{
    width:230px;
    display: inline;
}

.writecomment{
    display: none;
}